html {
  scroll-behavior: smooth;
}

body {
	font-family: var(--fuente-principal);
	font-size: 0.9rem;
	color: var(--negro);
}

.sinPadding {
	padding-left: 0px;
	padding-right: 0px;
}

.sinMargin {
	margin-left: 0px;
	margin-right: 0px;
}

.marginTop,
.marginBottom {
	margin-top: 150px;
	margin-bottom: 150px;
}

.paddingTop,
.paddingBottom {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bg-light {
	background-color: var(--gris) !important;
}

.slideout-open body {
    overflow: hidden;
}

.bloqueMenu {
	position: fixed;
	background: rgba(0, 0, 0, 0);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	transition: all 0.3s ease;
}

.menuLateral {
	position: relative;
	background: var(--negro);
	width: 275px;
	height: 100vh;
	left: -100%;
	transition: all 0.3s ease;
}

.visible {
	background: rgba(0, 0, 0, 0.5);
	z-index: 12;
}

.visible .menuLateral {
	left: 0px;
}

.encabezadoLateral {
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.btnCloseMenu {
	float: right;
	width: 60px;
	height: 60px;
	border: none;
	background: transparent;
	color: var(--blanco);
	opacity: 0.3;
	font-size: 1.8rem;
	transition: all 0.3s ease;
}

.btnCloseMenu:hover {
	opacity: 1;
}

.zonaScroll {
	width: 100%;
	height: calc(100vh - 60px);
	overflow: auto;
}

.zonaScroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--blanco);
}

.zonaScroll::-webkit-scrollbar-thumb {
    background-color: var(--oxford); !important;
}

.listaMenuLateral {
	list-style: none;
	margin: 15px 0 0 0;
	padding: 0;
}

.listaMenuLateral li {
	display: block;
}

.enlaceMenuLateral {
	position: relative;
	display: table;
	width: 100%;
	height: 43px;
	text-decoration: none;
	transition: all 0.3s ease;
}

.enlaceMenuLateral span.tituloEnlace {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: left;
	font-size: 1rem;
	color: var(--blanco);
	padding: 0 0 0 15px;
}

.lineaEnlace {
	position: absolute;
	vertical-align: bottom;
	top: 0px;
	left: 0px;
	width: 3px;
	height: 100%;
}

.lineaEnlace span {
	position: absolute;
	display: block;
	bottom: 0px;
	width: 100%;
	height: 0;
	background: var(--blanco);
	transition: all 0.5s ease;
}

.tituloEnlace i {
	color: var(--bluegray);
	margin: 0 8px 0 0;
}

.enlaceMenuLateral:hover {
	background: rgba(255, 255, 255, 0.3);
}

.enlaceMenuLateral:hover .lineaEnlace span {
	height: 100%;
}

.enlaceActivo {
	background: rgba(255, 255, 255, 0.3);
}

.enlaceActivo i {
	color: var(--blanco);
}

.enlaceActivo .lineaEnlace span {
	height: 100%;
}

.barraTop {
	position: fixed;
	top: 0px;
	left: 0px;
	display: inline-block;
	width: 100%;
	background: var(--blanco);
	border-bottom: solid 1px var(--gris);
	z-index: 10;
	-webkit-box-shadow: 0 0 10px 0 var(--negro);
	box-shadow: 0 0 10px 0 var(--negro);
}

.topMargen {
	margin-top: 61px;
}

.btnMenu {
	float: left;
	width: 60px;
	height: 60px;
	border: none;
	background: var(--blanco);
	color: var(--oxford);
	border-right: solid 1px var(--gris);
	font-size: 1.8rem;
	transition: all 0.3s ease;
}

.btnMenu:hover {
	background: var(--gris);
}

.btnlogo {
	float: left;
	display: inline-block;
	height: 60px;
	overflow: hidden;
}

.btnLogin {
	float: right;
	display: table;
	border: solid 1px var(--negro);
	border-radius: 0.5rem;
	height: 40px;
	text-decoration: none;
	color: var(--negro);
	margin: 10px 10px 10px 0;
	transition: all 0.3s ease;
}

.btnLogin span {
	display: table-cell;
	padding: 0 1rem;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.btnLogin:hover {
	background: var(--negro);
	color: var(--blanco);
}

.menu {
	list-style: none;
	float: right;
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
}

.menu>li {
	position: relative;
	float: left;
}

.opcmenu {
	display: table;
	border-radius: 0.5rem;
	height: 40px;
	margin: 10px 10px 10px 0;
	color: var(--negro);
	text-decoration: none;
	transition: all 0.3s ease;
}

.opcmenu span {
	display: table-cell;
	height: 100%;
	padding: 0 1rem;
	vertical-align: middle;
	text-align: center;
	color: var(--negro);
}

.menu li:hover a.opcmenu {
	background: var(--gris);
}

.submenu {
	display: none;
	opacity: 0;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	right: 0px;
	top: 60px;
	border-top: solid 1px var(--gris);
	padding: 5px;
	min-width: 200px;
	background: var(--oxford);
	border-radius: 0px 0px 0.5rem 0.5rem;
	-moz-border-radius: 0px 0px 0.5rem 0.5rem;
	-webkit-border-radius: 0px 0px 0.5rem 0.5rem;
	transition: all 0.3s ease;
}

.submenuVisible {
	display: block;
	opacity: 1;
}

.submenu li {
	display: block;
	width: 100%;
}

.submenu li a {
	display: table;
	width: 100%;
	text-decoration: none;
	margin-bottom: 5px;
}

.submenu li:last-child a {
	margin-bottom: 0px;
}

.submenu li a span {
	display: table-cell;
	color: var(--blanco);
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	vertical-align: middle;
	transition: all 0.3s ease;
}

.submenu li a:hover span {
	background: var(--blanco);
	color: var(--negro);
}

.titulo {
	font-family: var(--fuente-secundaria);
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.subtitulo {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: var(--oxford);
	text-align: center;
}

.titulo2 {
	font-family: var(--fuente-secundaria);
	font-weight: normal;
	font-size: 1.4rem;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.subtitulo2 {
	color: var(--oxford);
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.tarjeta {
	display: table;
	position: relative;
	z-index: 3;
	left: 0;
	right: 0;
	width: 90%;
	min-height: 350px;
	margin: -50px auto 0 auto;
	background: var(--blanco);
	border: solid 1px var(--gris);
	border-radius: 0.5rem;
	-webkit-box-shadow: 0 5px 10px 0 var(--oxford);
	box-shadow: 0 5px 10px 0 var(--oxford);
}

.tarjeta2 {
	display: table;
	position: relative;
	z-index: 3;
	left: 0;
	right: 0;
	width: 90%;
	min-height: 350px;
	margin: 0 auto 0 auto;
}

.celdaTarjeta {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	padding: 0 2rem;
}

.celdaTarjeta2 {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	height: 100%;
	padding: 0 2rem;
}

.tarjetaIcono {
	text-align: center;
	font-size: 3rem;
	color: var(--bluegray);
}

.tarjetaTitulo {
	text-align: center;
	font-size: 1.5rem;
	font-weight: normal;
	color: var(--negro);
}

.tarjetaDescripcion {
	text-align: justify;
}

.tarjetaEnlace {
	display: block;
	text-align: center;
	text-decoration: underline;
	color: var(--oxford);
}

.tarjetaEnlace span {
	display: inline-block;
	border-bottom: solid 1px var(--oxford);
	transition: all 0.5s ease;
}

.tarjetaEnlace:hover span {
	border-bottom: solid 1px var(--negro);	
}

.contenidoTabla {
	display: table;
	width: 100%;
	height: 100%;
}

.contenidoCelda {
	display: table-cell;
	text-align: justify;
	vertical-align: top;
	padding: 0 2rem;
}

.contenidoCeldaVertical {
	display: table-cell;
	text-align: justify;
	vertical-align: middle;
	padding: 0 2rem;
}

.conFondo {
	position: relative;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.contenidoConFondo {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
	width: 100%;
	height: 100%;
	padding: 5rem 0;
}

.clipTriangulo {
	margin: -1px 0 0 0;
	height: 100px;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.firmado {
	font-family: var(--fuente-secundaria);
	color: var(--bluegray);
	margin: 0px;
	padding: 0px;
}

.firmado span {
	display: block;
	font-family: var(--fuente-principal);
	font-size: 0.9rem;
	line-height: 2rem;
	color: var(--negro);
}

footer {
	padding: 4rem 0;
	border-top: solid 1px var(--gris);
}

.menuFooter {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menuTituloFooter {
	font-family: var(--fuente-secundaria);
	font-size: 1rem;
	margin: 0 0 1.5rem 0;
	padding: 0px;
}

.btnMenuFooter {
	display: inline-block;
	text-decoration: none;
	color: var(--bluegray);
	transition: all 0.3s ease;
	padding: 0;
}

.btnMenuFooter:hover {
	padding: 0 0 0 5px;
}

.barraBottom {
	border-top: solid 1px var(--gris);
	background: var(--blanco);
	padding: 0.4rem 0;
}

.derechos {
	display: table;
	height: 50px;
}

.derechos span {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.redes {
	float: right;
	display: inline-block;
}

.redes a {
	float: left;
	display: table;
	font-size: 1.5rem;
	width: 50px;
	height: 50px;
	text-decoration: none;
	color: var(--negro);
	border-radius: 0.5rem;
	transition: all 0.3s ease;
}

.redes a i {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.redes a:hover {
	background: var(--gris);
}

.botonSubir {
	display: none;
	width: 45px;
	height: 45px;
	position: fixed;
	right: 10px;
	bottom: 9px;
	z-index: 11;
	color: var(--blanco);
	font-size: 1rem;
	line-height: 1.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

.botonSubir span {
	display: table-cell;
	width: 45px;
	height: 45px;
	vertical-align: middle;
	text-align: center;
	padding: 0 0 0 0;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.botonSubir:hover span {
	background: rgba(0, 0, 0, 1);
}