.bannerHome {
	position: relative;
	height: 600px;
}

#background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.bannerCobertura {
	position: absolute;
	display: table;
	background: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.celdaCobertura {
	display: table-cell;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	color: var(--blanco);
}

.encabezado1 {
	font-size: 1.2rem;
	opacity: 0.6;
}

.encabezado2 {
	font-size: 2rem;
	line-height: 1.8rem;
}

.encabezado3 {
	font-size: 1rem;
	opacity: 0.6;
	margin: 15px 0 0 0;
}

.tarjeta {
	display: table;
	position: relative;
	z-index: 3;
	left: 0;
	right: 0;
	width: 90%;
	min-height: 350px;
	margin: -50px auto 0 auto;
	background: var(--blanco);
	border: solid 1px var(--gris);
	border-radius: 0.5rem;
	-webkit-box-shadow: 0 5px 10px 0 var(--oxford);
	box-shadow: 0 5px 10px 0 var(--oxford);
}

.celdaTarjeta {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	padding: 0 2rem;
}

.tarjetaIcono {
	text-align: center;
	font-size: 3rem;
	color: var(--gris);
}

.tarjetaTitulo {
	text-align: center;
	font-size: 1.5rem;
	font-weight: normal;
	color: var(--negro);
}

.tarjetaDescripcion {
	text-align: justify;
}

.tarjetaEnlace {
	display: block;
	text-align: center;
	text-decoration: underline;
	color: var(--oxford);
}

.tarjetaEnlace span {
	display: inline-block;
	border-bottom: solid 1px var(--oxford);
	transition: all 0.5s ease;
}

.tarjetaEnlace:hover span {
	border-bottom: solid 1px var(--negro);	
}

.notificacion {
	border-radius: 0.5rem;
	border: solid 1px var(--oxford);
	-webkit-box-shadow: 0 5px 10px 0 var(--oxford);
	box-shadow: 0 5px 10px 0 var(--oxford);
	transition: all 0.5s ease;
}

.notificacion:hover {
	border: solid 1px var(--negro);
}

.notificacionImagen {
	display: table;
	width: 140px;
	height: 140px;
	padding: 25px;
}

.notificacionImagen div {
	display: table-cell;
	width: 100%;
	height: 100%;
}

.notificacionDescripcion {
	display: table;
	width: 100%;
	height: 140px;
	overflow: auto;
}

.notificacionDescripcion div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 0 0 0 1rem;
	text-align: justify;
}

.notificacionDescripcion div b {
	font-family: var(--fuente-secundaria);
}

.notificacionTitulo {
	font-family: var(--fuente-secundaria);
	text-align: left;
	color: var(--negro);
}

.notificacionBotonera {
	display: table;
	width: 100%;
	height: 140px;
}

.notificacionBotonera div {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.btnCalendario {
	border-radius: 0.5rem;
    height: 40px;
    border: solid 1px var(--negro);
    background: var(--negro);
    color: var(--blanco);
    padding: 0 1rem;
    margin: 0 0 0.3rem 0;
}

.btnLista {
	position: relative;
	display: block;
	border-radius: 0.5rem;
	width: 150px;
    height: 40px;
    left: 0;
    right: 0;
    border: solid 1px var(--negro);
    background: var(--negro);
    color: var(--blanco);
    padding: 0 1rem;
    margin: 5rem auto 3rem auto;
}

.cajaResumenTabla {
	background: var(--blanco);
	border-radius: 0.5rem;
	display: table;
	width: 50%;
}

.cajaResumenTabla div {
	display: table-cell;
	padding: 2rem;
	text-align: justify;
}